
.center{
    text-align: center;
    
}
div{
  display: block;  
}

#logo{
    padding-top: 109px;
    
}

#logo-img{
  padding: 109px 0px 0px;
}

ul{
  list-style-type: none;
}

li {
  display: inline;
  padding-left: 15px;
}

.nav-bar{
  font-size: 13px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

#nav-left{
  float: left;
}

#nav-right{
  float: right;
  padding: 0 30px;
}

a{
  text-decoration: none;
}